.team-section{
    min-height: 400px;
}
.team-text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-heading{
    height: 41px;
    width: 333px;
    border-radius: nullpx;

}
.team-heading::before{
    content: "About us";
    color: #0075FF;
    display: block;
    font-size: 15px;
    text-align: center;
}
.card{
    position: relative;
    display: flex;

}
.team-desc{
    position: absolute;
    bottom: -30px;
    margin: auto;
    background-color: #ffff;
    height: 80px;
    width: 220px;
    align-self: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-desc .team-title{
font-family: 'Spectral';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 84.02%;
color: #0075FF;
margin-top: 20px;
}
.team-main{
    background: #0075FF;
    color: #ffff;
    position: absolute;
    bottom: -30px;
    margin: auto;
    height: 80px;
    width: 220px;
    align-self: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-main .team-title{
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 84.02%;
    color: #fff;
    margin-top: 20px;
}